.App {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: Verdana, sans-serif;
    background-color: #f0f0f0;
    line-height: 1.5em;
}

body {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

.dark-theme {
    color: white;
}

.section {
    padding: 40px 5%;
  }

.green-bg {
    background-color: #182324;
}

.center {
    text-align: center;
}

p, em, a, li {
    font-size: clamp(14px, 2vw, 16px);
}

h1 {
    font-size: clamp(18px, 2vw, 24px);
}

h2 {
    font-size: clamp(16px, 2vw, 20px);
}

h3, h4, h5, h6 {
    font-size: clamp(14px, 2vw, 18px);
}