.footer {
    background: #101717;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .socialMedia {
    
  }

  .copyright {
    
  }
  
  .socialMedia svg {
    color: white;
    margin: 5px;
    cursor: pointer;
  }
  
  .footer p {
    color: white;
  }

  @media only screen and (max-width: 768px) {
    .footer {
      display: block;
      text-align: center;
      padding: 10px;
    }
  }