.home {
  padding-top: 0;
  padding-bottom: 0;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro h2 {
  font-size: clamp(18px, 6vw, 60px);
}

.intro h4 {
  color: #5cffa2;
}

.intro .prompt {
  width: 50%;
  margin: 0 auto;

}

.intro svg {
  margin: 5px;
  color: white;
}

.about {
  display: flex;
  gap: 3%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.column {
  width: 40%;
  display: inline-block;
  flex: 1 1 300px;
}

.about img {
  background-color: #dedede;
  border-radius: 20px;
}

.about .more {
  flex-grow: 2;
}