
.projectList {
  display: flex;
  justify-content: center;
  gap: 20px 20px;
  flex-wrap: wrap;
}

.projectItem {
  flex: 1 1 350px;
  border-radius: 15px;
  max-width: 350px;
}

.projectItem:hover {
  background-color: #131f20;
}

a {
  font-size: small;
  color: #5cffa2;
}